---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li{% unless forloop.first %} class="post-list-more" style="display: none;"{% endunless %}>
        {% capture read_time %}
          {{ post.content | number_of_words | divided_by: 180 }}
        {% endcapture %}
        {% assign like_key = post.id | slugify: 'latin' | truncate: 64, '' %}
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <span class="post-meta post-likes" data-like-key="{{ like_key }}">
          &nbsp;&nbsp;<i class="far fa-heart"></i> <span class="like-count">&ndash;</span>
        </span>
        {% if post.baeldung == null and post.rockthejvm == null %}
        <span class="post-meta">
          &nbsp;&nbsp;
          <i class="far fa-clock"></i>
          {% if read_time != '0' %}
            {{ read_time }}
          {% else %}
            1
          {% endif %} min. to read
        </span>
        {% endif %}
        <h2>
          {% assign content = post.content | strip_newlines %}
          {% if post.baeldung != null and content == "" %}
          <a class="post-link" href="{{ post.baeldung }}" target="_blank">
            <span style="font-size: 0.8em; color: #00cc66;">
              <i class="fas fa-leaf"></i>
            </span>
            {{ post.title }}
          </a>
          {% elsif post.rockthejvm != null and content == "" %}
          <a class="post-link" href="{{ post.rockthejvm }}" target="_blank">
            <img src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:120/https://www.filepicker.io/api/file/VFTtPFihR4m5gmh6lJjS" width="25em" height="25em"/>
            {{ post.title }}
          </a>
          {% else %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {% if post.baeldung != null %}
            <span style="font-size: 0.8em; color: #00cc66;">
              <i class="fas fa-leaf"></i>
            </span>
            {% endif %}
            {{ post.title }}
          </a>
          {% endif %}
        </h2>
        {% if post.summary != null %}
        <article class="post-content">
            {{post.summary}}
            {% if post.baeldung != null and content == "" %}
            <a href="{{ post.baeldung }}" target="_blank">[continue...]</a>
            {% elsif post.rockthejvm != null and content == "" %}
            <a href="{{ post.rockthejvm }}" target="_blank">[continue...]</a>
            {% else %}
            <a href="{{ post.url | prepend: site.baseurl }}">[continue...]</a>
            {% endif %}
        </article>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if site.posts.size > 1 %}
  <button id="load-more-posts" class="load-more-btn">Show more</button>
  {% endif %}

</div>

<script>
  (function () {
    var button = document.getElementById('load-more-posts');
    if (!button) return;
    var hiddenPosts = document.querySelectorAll('.post-list-more');

    var postsPerClick = 5;

    button.addEventListener('click', function () {
      var revealed = 0;
      for (var i = 0; i < hiddenPosts.length && revealed < postsPerClick; i++) {
        if (hiddenPosts[i].style.display === 'none') {
          hiddenPosts[i].style.display = '';
          revealed++;
        }
      }
      var stillHidden = document.querySelectorAll('.post-list-more[style*="display: none"]');
      if (stillHidden.length === 0) {
        button.style.display = 'none';
      }
    });
  })();

  (function () {
    var likeEls = document.querySelectorAll('.post-likes[data-like-key]');
    for (var i = 0; i < likeEls.length; i++) {
      (function (el) {
        var key = el.getAttribute('data-like-key');
        var countEl = el.querySelector('.like-count');
        window.BlogLikes.getCount(key).then(function (count) {
          countEl.textContent = count;
        });
      })(likeEls[i]);
    }
  })();
</script>
